* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height:100% ;
    padding: 20px;
}

.encabezado-pie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background: skyblue;
}

header h1{
    color: rgb(245, 245, 245);
}

header div img {
    width: 100px;
}

section {
    border: 1px solid black;
    background: cadetblue;
}

section #contenedor {
    border: 1px solid black;
    text-align: center;
    margin: 10px ;
    background:white;
}

section div img {
    width: 300px;
}

section div img:hover {
    width: 350px;
}

section ul li {
    list-style: none;
    padding: 25px;
    color: rgb(117, 124, 79);
    background: white;
}

ul li:nth-child(odd){
    color:dodgerblue;
}

footer div img {
    width: 200px;
}

 #link :hover {
color: red;
}
