* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh
}

main {
    width: 100%;
    height:100% ;
    padding: 20px;
}

header {
    position: relative;
}

.encabezado-pie {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background: skyblue;
}

header h1{
    padding: 80px;
    color: rgb(245, 245, 245);
}

header div img {
    position: absolute;
    width: 100px;
    right: 40px;
    top: 55px;
}

section {
    border: 1px solid black;
    background: cadetblue;
}

section #contenedor {
    border: 1px solid black;
    text-align: center;
    margin: 10px ;
    background:white;
}

section div img {
    width: 300px;
}

section ul li {
    list-style: none;
    padding: 25px;
    color: rgb(113, 187, 216);
    background: white;
}

footer {
    position: relative;
}

footer div img {
    width: 200px;
    position: absolute;
    left: 40px;
    bottom:70px;
}
 footer #link {
    text-align: end;
    padding: 80px;
}






